.button,
.hs-form .actions,
.hs_submit input,
.shopify-challenge__button, {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  border: 0;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  user-select: none;
  appearance: none;
  font-family: $font-heading !important;
  font-size: 12px !important;
  letter-spacing: .4rem;
  font-weight: $font-heading-regular;
  position: relative;
  padding: $half-gap $gap;
  margin-top: $half-gap;
  text-transform: uppercase;
  white-space: normal;
  box-shadow: 0 3px 19px 0 rgba(0, 0, 0, 0);
  &:after {
    content: '\27F6';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
    transition: transform .15s ease-in-out;
    transform-origin: left;
    color: inherit;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 4px;
    background-color: $button-color;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .25s ease-out;
    opacity: 0;
  }
  &:hover {
    color: $brand-black;
    background-color: $brand-white;
    box-shadow: 0 3px 19px 0 rgba(0, 0, 0, 0.1);
    input {
      background-color: transparent;
    }
    &:after {
      transform: translate(65%, -50%);
    }
    &:before {
      transform: scaleX(1);
      opacity: 1;
    }
  }
}

.button__button-color {
	background-color: $button-color;
  color: $brand-black;
}
.button__button-color-white-arrow {
  &:hover {
    color: $brand-white;
    background-color: $brand-white-hover;
  }
}
.button__brand-black {
	background-color: $brand-black;
  color: $brand-white;
}
.button__transparent-white {
	background-color: transparent;
  border: 1px solid $brand-white;
  color: $brand-white;
  &:before {
    display: none;
  }
}
.button__transparent-black {
  background-color: transparent;
  border: 1px solid $brand-black;
  color: $brand-black;
  &:before {
    display: none;
  }
}
.button__white {
	background-color: $brand-white;
  color: $brand-black;
}
.button__brand-purple-dark {
	background-color: $brand-purple-dk;
  color: $brand-white;
}
.button__brand-purple-mid {
  background-color: $brand-purple-md;
  color: $brand-white;
}
.button__brand-purple-light {
	background-color: $brand-purple-lt;
  color: $brand-black;
}
.button__brand-green {
	background-color: $brand-green;
  color: $brand-black;
}
.button__brand-yellow {
  background-color: $brand-yellow;
  color: $brand-black;
}
.button__brand-pink {
	background-color: $brand-pink;
  color: $brand-black;
}
.button__product {
  width: 100%;
  max-width: none;
  padding: $quarter-gap $half-gap;
  margin: 0;
  background-color: $brand-black;
  color: $brand-white;
  border: 1px solid $brand-black;
  &:after {
    display: none;
  }
  &:before {
    display: none;
  }
  &:hover {
    color: $brand-black;
    background-color: $brand-white;
  }
}

.button__form-input,
.button__form-button,
.hs-form .actions {
  padding: 0px !important;
}

.button__form-button {
  margin-top: 0px;
}

.button input,
.button button {
  border: 0;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  user-select: none;
  appearance: none;
  font-family: $font-heading !important;
  font-size: 12px !important;
  letter-spacing: .4rem;
  font-weight: $font-heading-regular;
  text-transform: uppercase;
  white-space: normal;
  padding: $half-gap $gap;
  background-color: transparent;
}

.button__no-arrow {
  &:after {
    display: none;
  }

  &:hover {
    color: $brand-black;
  }
}

.button__flex {
  display: flex; 
  align-items: center;
  justify-content: center;
}