.checkout-cart {
	background-color: #fafafa;
	height: 100vh;
	width: 38%;
	border-left: 1px solid #e1e1e1;
	padding-left: 4%;
	padding-top: 4rem;
	padding-right: 4%;
	p {
		font-family: $font-heading;
	}
	@media(max-width: $phablet) {
    display: none;
  }
}

.checkout-cart__items {
	border-bottom: 1px solid #e1e1e1;
	padding-bottom: 2rem;
	p {
		font-weight: $font-heading-semibold;
	}
}

.checkout-cart__product-thumbnail {
	position: relative;
	img {
		overflow: hidden;
		border: 1px solid #e1e1e1;
		border-radius: 6px;
	}
	&:after {
		content: attr(data-quantity);
		position: absolute;
		font-size: 0.85714em;
    font-weight: 500;
    line-height: 1.75em;
    white-space: nowrap;
    text-align: center;
    border-radius: 1.75em;
    background-color: rgba(114,114,114,0.9);
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 1.75em;
    height: 1.75em;
    padding: 0 0.58333em;
    position: absolute;
    right: -0.75em;
    top: -0.75em;
    z-index: 3;
	}
}

.checkout-cart__item {
	display: flex;
	align-items: center;
	p {
		margin-bottom: 0;
	}
}

.checkout-cart__item-title {
	margin: 0 auto 0 2rem;
}

.checkout-cart__totals {
	padding: 2rem 0;
}

.checkout-cart__totals-label {
	font-weight: $font-heading-regular;
}

.checkout-cart__totals-item {
	display: flex;
	justify-content: space-between;
}