#ocn {
	position: fixed;
	bottom: 0px;
	right: 0px;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden; 
	visibility: hidden;
	box-shadow: 0px 0px 100px rgba(0,0,0,.1);
	transition: all .5s cubic-bezier(0.65, 0.05, 0.36, 1);
	opacity: 0;
	transition-delay: .5s;
	z-index: 98;
	&:after {
		content: '';
		width: 3000px;
		height: 3000px;
		position: fixed;
		left: -500px;
		right: -500px;
		top: -500px;
		bottom: -500px;
		transform: scale(0);
		transform-origin: bottom right;
		transition: all .75s cubic-bezier(0.65, 0.05, 0.36, 1);
		bottom: 0px;
		right: 0px;
		border-radius: 100%;
		background-color: $brand-white;
		transition-delay: .5s;
		z-index: 0;
		box-shadow: 0px 0px 100px $brand-white;
	}
	.ocn__logo {
		display: none;
		img {
			width: 100%;
		}
	}
	.ocn__menu {
		padding: 5rem 0;
		li {
			padding: 0 5rem;
			margin: 1rem 0;
			text-align: left;
			font-size: 1.75rem;
			font-family: $font-callout;
			text-transform: capitalize;
			letter-spacing: 3px;
			position: relative;
			.shop__icon-plus {
				&:after {
					transform: translate(-50%, -50%) rotate(0deg);
					opacity: 0;
				}
				&.hidden {
					&:after {
						transform: translate(-50%, -50%) rotate(90deg);
						opacity: 1;
					}
				}
			}
			.site-header__submenu-container {
				opacity: 1;
				transition: all .25s ease-out;
				overflow: hidden;
				&.hidden {
					height: 0px !important;
					opacity: 0;
				}
			}
		}
	}
	.ocn__cart {

	}
	.site-header__submenu-container {
		height: auto;
		transition: .5s linear;
		opacity: 0;
	}
	.site-header__submenu {
		padding: $quarter-gap 0 $quarter-gap $quarter-gap;
		display: block;

		li {
			padding: 0;
			font-size: 1.4rem;
			font-family: $font-base;
			font-weight: 400;
			text-transform: capitalize;
		}
		
	}
	.shop__icon-plus {
		position: absolute;
		right: $gap;
		top: 0;
		cursor: pointer;
		margin: 0;
		border: 0px;
		&:after,
		&:before {
			background-color: $brand-black;
			transition: .25s ease-out;
		}
	}
}

// .time__day {
// 	#ocn {
// 		&:after {
// 			background-color: $brand-black;
// 		}
// 	}
// 	.ocn__menu {
// 		li {
// 			color: $brand-white;
// 		}
// 		svg {
// 			path {
// 				fill: $brand-white;
// 			}
// 		}
// 	}
// 	.shop__icon-plus {
// 		&:after,
// 		&:before {
// 			background-color: $brand-white !important;
// 		}
		
// 	}
// }

.ocn__container {
	padding-top: 87px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 99;
	transition: all .5s cubic-bezier(0.65, 0.05, 0.36, 1);
	opacity: 0;
}

.nav-open {
	#ocn {
		opacity: 1;
		transition-delay: 0s;
		visibility: visible;
		&:after {
			transform: scale(1);
			transition-delay: 0s;
		}
		.ocn__container {
			transition-delay: .5s;
			opacity: 1;
		}
	}
}