button,
input[type="button"],
input[type="submit"],
select,
option {
  appearance: none;
  cursor: pointer;
}

label {
  cursor: pointer;
  font-family: inherit;
  font-weight: inherit;
}

button,
input[type="button"],
input[type="submit"],
.button {
  background-color: $button-color;
  border: 0;
  //border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  font-style: normal;
  line-height: normal;
  padding: $quarter-gap $half-gap;
  transition: all 0.25s;

  &:hover {
    background-color: $button-hover;
  }
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
input:not([type]),
textarea,
select,
select[multiple] {
  background: $input-background;
  border: $input-border-width solid $input-border-color;
  border-radius: $input-border-radius;
  box-sizing: border-box;
  box-shadow: none;
  display: block;
  font-family: inherit;
  font-size: inherit;
  line-height: normal;
  margin-bottom: 0;
  padding: $input-padding;
}