<div class="container">
  {%- assign wayfinder_selection = page.metafields.custom_fields["color_wayfinding_gen"] -%}
  {% include 'color-wayfinder-case' %}
  <h1 class="wayfinder__level {{ wayfinder }}"><span>{{ page.title }}</span></h1>
  <div class="rte">
    {{ page.content }}
  </div>
  <div class="template-contact__form">
  <!--[if lte IE 8]>
  <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
  <![endif]-->
    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
    <script>
      hbspt.forms.create({
      portalId: "4878679",
      formId: "21b278b6-41a8-4645-b0a3-d04137c2b8f3"
    });
    </script>
  </div>
</div>

