{% comment %}
  The share buttons share the home page URL. The share text is grabbed from the store
  meta description.
{% endcomment %}

{% layout 'password' %}


<div class="template-password" style="height: 50vh; display: flex; flex-direction: column; align-items: center; justify-content: center; font-family: 'Open Sans'">
  <div class="password__logo" style="width: 500px; margin: auto auto 5rem auto;">
    {% include 'logo-onyx_and_rose' %}
  </div>
  {% unless shop.password_message == blank %}
    <p>
      {{ shop.password_message }}
    </p>
  {% endunless %}
</div>