.template-page {
	main {
		.container {
			padding-top: $gap;
			@include media-query($medium-down) {
				padding-top: $gap;
			}
		}
	}
	.rte {
		margin: $gap auto;
	}
	.rte__small {
    max-width: 34vw;
    text-align: center;
    margin: $gap auto;
    h2, h3, p, {
			margin: $half-gap 0;
		}
		@include media-query($large-up) {
			max-width: 38vw;
		}
		@include media-query($large-down) {
			max-width: 34vw;
		}
		@include media-query($medium-down) {
			max-width: 40vw;
		}
		@include media-query($small) {
			max-width: 100vw;
		}
		
  }
  .rte__large-text {
  	h2 {
			font-size: 5.6rem;
			line-height: 1.2;
			letter-spacing: -1px;
			text-transform: initial;
			margin: $gap 0;
		}
  }
}