.list-dropdowns {
	margin: calc(#{$gap} *2) 0;
	&.list-dropdowns__earn {
		margin: 0;
	}
	&.list-dropdowns__faq {
		margin: $gap 0;
		.list-dropdowns__container {
			margin: 0;
		}
	}
	&.list-dropdowns__has-image {
		.list-dropdowns__list,
		.list-dropdowns__image {
			width: 50%;
			@include media-query($small) {
				width: 100%;
				margin: 0;
				&:after {
					width: 100%;
				}
			}
		}
	}
	&.list-dropdowns__no-image {
		.list-dropdowns__list {
			width: 100%;
		}
		.list-dropdowns__image {
			display: none;
		}
	}
}

.list-dropdowns__container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: $gap 0;
	@include media-query($small) {
		flex-direction: column;
	}
}

.list-dropdowns__list {
	width: 50%;
	position: relative;
	padding: $gap;
	display: flex;
	flex-direction: column;
	max-width: 700px;
	h3 {
		font-size: 2.2rem;
		font-weight: 400;
		align-self: center;
		margin-bottom: $gap;
		max-width: 100%;
	}
	&:after {
		content: '';
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		height: 100%;
		width: 100%;
		z-index: -1;
	}
	&.list-dropdowns__grey {
		background-color: $brand-grey-lt;
	}
	@include media-query($medium-down) {
		width: 55%;
	}
	@include media-query($small) {
		width: 100%;
		margin: 0;
		&:after {
			width: 100%;
		}
	}
}

.list-dropdowns__earn {
	.list-dropdowns__list {
		margin: 0;
	}
}

.list-dropdowns__image {
	width: 50%;
	img {
		width: 100%;
	}
	@include media-query($medium-down) {
		width: 45%;
		margin-left: auto;
	}
	@include media-query($small) {
		width: 100%;
	}
}

.list-dropdowns__item {
	border-top: 2px solid $brand-black;
	padding: $half-gap 0;
	h3, h4, {
		margin: 0;
		
	}
	h4 {
		font-family: $font-heading;
		font-weight: 700;
	}
	p {
		padding: 0px;
		max-height: 0;
		height: auto;
		transition: all .25s ease-in-out;
		overflow: hidden;
		margin: 0;
		opacity: 0;
		font-size: 1.4rem;
		padding-right: $gap;
	}
	.shop__icon-plus {
		margin: 0;
		border: 0px;
		&:after,
		&:before {
			background-color: $brand-black;
			transition: all .25s linear;
		}
	}
	&.active {
		p {
			max-height: 500px;
			padding: $quarter-gap $gap $quarter-gap 0;
			opacity: 1;
		}
		.shop__icon-plus {
			&:after {
				transform: rotate(0deg) translate(-50%, -50%);
				opacity: 0;
			}
		}
	}
}

.list-dropdowns__item-heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	h4 {
		margin: 0;
		font-size: 1.75rem;
	}
}